<tbody class="profileList">
    <% @users.each do |user| %> 
        <tr data-target="<%=".profile-list-#{user.id}"%>">
            <td data-name='First Name'><%= user.firstname %></td>
            <td data-name='Middle Name'><%= user.middlename %></td>
            <td data-name='Last Name'><%= user.lastname %></td>
            <td data-name='Email'><%= user.email %></td>
            <td data-name='Permanent Address'><%= user.permanent_address %></td>
            <td data-name='Temporary Address'><%= user.temporary_address %></td>
            <td data-name='Gender'><%= user.gender %></td>
            <td data-name='Role'><%= user.role %></td>
            <td><%= link_to 'Show', profile_path(user.id), :id =>"show-button" %></td>
            <td><%= link_to 'Edit', edit_profile_path(user.id) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% class_name = "profile-list-#{user.id} profile-list" %>
        <tr style="width:40%;" class="<%= class_name %>"  >
            <th>FACULTY NAME</th>
            <th>BATCH</th>
            <th>SECTION</th>
        </tr>
        <% user.profiles.each do |profile| %>
            <tr class="<%= class_name %>" >
                <td data-name='Faculty'><%= profile.faculty.facultyname%></td>
                <td data-name='Batch'><%= profile.batch.year%></td>
                <td data-name='Section'><%= profile.section.section%></td>
                <td><%= link_to 'Show', profile_path(profile.id) %></
                td>
                <td><%= link_to 'Edit',edit_profile_path(profile.id) %></td>
                <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>    
    <% end %>   
</tbody>