<tbody id = "profileList">
    <tr data-toggle="modal" data-target="#myModal">
        <td><span class="glyphicon glyphicon-play"></span></td>
        <td><%= link_to current_user.firstname, profile_path(current_user.id) %></td>
        <td><%= current_user.middlename %></td>
        <td><%= current_user.lastname %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.permanent_address %></td>
        <td><%= current_user.temporary_address %></td>
        <td><%= current_user.gender %></td>
        <td><%= current_user.role %></td>
        <td><%= link_to 'Show', profile_path(current_user.id) %></td>
        <td><%= link_to 'Edit' %></td>
        <table class="table table-hover" id="profileTable" style="width: 40%;">
            <thead>
                <tr >
                    <th>FACULTY NAME</th>
                    <th>BATCH</th>
                    <th>SECTION</th>
                </tr>
            </thead>
            <tbody id = "userLists">
                <% @profiles.each do |profile| %>
                    <tr>
                        <td><%= profile.faculty.facultyname %></td>
                        <td><%= profile.batch.year %></td>
                        <td><%= profile.section.section%></td>
                        <td><%= link_to 'Show', profile_path(current_user.id) %></td>
                        <td><%= link_to 'Edit',edit_profile_path(profile.id) %></td>
                        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </tr>
</tbody>
</table>

