<html>
    <head></head>
    <body>
        <div class="container">
            <div class="form-inline">
                <div class="position-selectForm">
                    <div class= "form-group">
                        <b>Select batch from list:</b>
                        <%= select_tag :batch_id, options_for_select(Batch.all.collect { |p| [ p.year, p.id ] }, params[:batch_id]), {prompt: 'Select Batch', class: "form-control select-form"} %>
                    </div>
                
                    <div class="form-group">
                        <b>Select Faculty from list:</b>
                        <%= select_tag("faculty_id", options_for_select(Faculty.all.collect { |p| [p.facultyname, p.id] }, params[:faculty_id]), {prompt:'Select Faculty', class: "form-control select-form"}) %>
                    </div>

                    <div class="form-group">
                        <b>Select Section From list:</b>
                        <%= select_tag("section_id", options_for_select(Section.all.collect { |p| [p.section,p.id] }, params[:section_id]), {prompt: 'Select Section', class: "form-control select-form"}) %>
                    </div>
                </div>
            </div>
            <% if current_user.user? %>
                <h1><%= current_user.firstname %> <%= current_user.middlename %> <%= current_user.lastname %>'S PROFILE</h1>
            <% end %>

            <table class="table table-hover">
                <thead>
                    <tr >
                        <th class="sort" data-sort_by="firstname" data-sort_order=<%= data_sort_order('firstname') %>> FIRSTNAME </th>
                        <th class="sort" data-sort_by="middlename" data-sort_order=<%= data_sort_order('middlename') %>>MIDDLENAME</th>
                        <th class="sort" data-sort_by="lastname" data-sort_order=<%= data_sort_order('lastname') %>>LASTNAME</th>
                        <th class="sort" data-sort_by="email" data-sort_order=<%= data_sort_order('email') %>>EMAIL</th>
                        <th class="sort" data-sort_by="permanent_address" data-sort_order=<%= data_sort_order('permanent_address') %>>Permanent Address</th>
                        <th class="sort" data-sort_by="temporary_address" data-sort_order=<%= data_sort_order('temporary_address') %>>Temporary Address</th>
                        <th>GENDER</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <% if current_user.user? %>
                    <%= render 'currentuser_profile' %>
                <% end %>
                
                <% if current_user.admin? %>
                    <%= render 'admin_viewProfile' %>
                <% end %>  
            </table>  
            <% if current_user.admin? %> 
                <%= paginate @users %>
            <% end %> 
            <br>
          
            <form class="new-profile">
                <button type="submit"><%= link_to 'ADD NEW PROFILE', new_profile_path %></button>
            </form>
        </div>
    </body>
</html>