<h1 style="text-align: center; margin-top: 200px;">Add <%= current_user.firstname %>'s New Profile</h1>
<div class="position-editnewForm">
  <%= form_for @profile, local: true do |form| %>
    <p>
      <label for="batch">Select batch from list:</label></br>
      <%= select("profile", "batch_id", Batch.all.collect {|b| [b.year, b.id]}, {prompt:"Select Batch"}, {class: "form-control"}) %>
    </p>

    <p>
      <label for="faculty">Select faculty from list:</label>
      <%= select("profile", "faculty_id", Faculty.all.collect { |b| [b.facultyname, b.id]}, {prompt:"Select faculty"}, {class:"form-control"}) %>
    </p>

    <p>
      <label for="section">Select section from list:</label>
      <%= select("profile", "section_id", Section.all.collect { |b| [b.section, b.id]}, {prompt:"Select section"}, {class:"form-control"}) %>      
    </p>

    <p>
      <div class="actions">
        <%= form.submit %>
      </div>
    </p>
  <% end %>
</div>