<html>
  <head>
    <title>    
    </title>
  </head>
  <body>
    <% if current_user.user? %>
      <p>
        <%= image_tag current_user.image.url(:medium) %>
      </p>
      
      <p>
        <strong>STUDENT NAME:</strong>
        <%= current_user.firstname %> <%= current_user.middlename %> <%= current_user.lastname %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= current_user.email %>
      </p>
      
      <p>
        <strong>Permanent Address:</strong>
        <%= current_user.permanent_address %>
      </p>
      
      <p>
        <strong>Temporary Address:</strong>
        <%= current_user.temporary_address %>
      </p>
      
      <p>
        <strong>Facultynames:</strong>
        <%= @faculties.pluck(:facultyname).join(", ") %>
      </p>
      
      <p>
        <strong>Batches:</strong>
        <%= @batches.pluck(:year).join(", ") %>
      </p>
      
      <p>
        <strong>Sections:</strong>
        <%= @sections.pluck(:section).join(", ") %>
      </p>
      <%= link_to 'Edit', edit_profile_path(:id) %>
      <%= link_to 'Back', profiles_path %>
    <% end %>
          
    <% if current_user.admin? %>
      <p>
        <%= image_tag @user.image.url(:medium) %>
      </p>
      <p>
        <strong>STUDENT NAME:</strong>
        <%= @user.firstname %> <%= @user.middlename %> <%= @user.lastname %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Permanent Address:</strong>
        <%= @user.permanent_address %>
      </p>
      <p>
        <strong>Temporary Address:</strong>
        <%= @user.temporary_address %>
      </p>
      <p>
        <strong>Facultynames:</strong>
        <%= @user.faculties.pluck(:facultyname).join(", ") %>
      </p>
      <p>
        <strong>Batches:</strong>
        <%= @user.batches.pluck(:year).join(", ") %>
      </p>
      <p>
        <strong>Sections:</strong>
        <%= @user.sections.pluck(:section).join(", ") %>
      </p>
      <%= link_to 'Edit', edit_profile_path(:id) %>
      <%= link_to 'Back', profiles_path %>
    <% end %>
  </body>
</html>