<html>
<head>
<script>
</script>
</head>
<body>

<div class="container">
  <div class="form-inline">
    <div class= "form-group">
      <b>Select batch from list:</b>
      <%= select("profile", "batch_id", Batch.all.collect {|p| [ p.year, p.id ] }, {prompt: 'Select Batch' }, {class: "form-control select-form"}) %>
    </div>

    <div class="form-group">
      <b>Select Faculty from list:</b>
      <%= select("profile","faculty_id", Faculty.all.collect {|p| [p.facultyname, p.id]}, {prompt:'Select Faculty'}, {class: "form-control select-form"}) %>
    </div>

    <div class="form-group">
      <b>Select Section From list:</b>
      <%= select("profile","section_id", Section.all.collect {|p| [p.section,p.id]}, {prompt: 'Select Section'},{class: "form-control select-form"}) %>
    </div>
</div>

        <% if current_user.user? %>
            <h1><%= current_user.firstname %> <%= current_user.middlename %> <%= current_user.lastname %>'S PROFILE</h1>
        <% end %>
<table class="table table-hover">
  <thead>
  <tr>
    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 58px;" aria-sort="ascending" >FIRSTNAME</th>
    <th>MIDDLENAME</th>
    <th>LASTNAME</th>
    <th>EMAIL</th>
    <th>Permanent Address</th>
    <th>Temporary Address</th>
    <th>GENDER</th>
    <th>FACULTY</th>
    <th>BATCH</th>
    <th>SECTION</th>
    <th>Role</th>

    <th colspan="3"></th>
  </tr>
  </thead>
  <% if current_user.user? %>
        <tbody>
            <td><%= link_to current_user.firstname, profile_path(current_user.id) %></td>
            <td><%= current_user.middlename %></td>
            <td><%= current_user.lastname %></td>
            <td><%= current_user.email %></td>
            <td><%= current_user.permanent_address %></td>
            <td><%= current_user.temporary_address %></td>
            <td><%= current_user.gender %></td>
            <td><%= @faculties.pluck(:facultyname).join(', ') %></td>
            <td><%= @batches.pluck(:year).join(', ') %></td>
            <td><%= @sections.pluck(:section).join(', ') %></td>
            <td><%= current_user.role %></td>


            <td><%= link_to 'Show', profile_path(current_user.id) %></td>
            <td><%= link_to 'Edit', edit_profile_path(current_user.id) %></td>
            
        </tbody>
    <% end %>
    <% if current_user.admin? %>
        <% @users.each do |user| %> 
            <tbody>
                <td><%= user.firstname %></td>
                <td><%= user.middlename %></td>
                <td><%= user.lastname %></td>
                <td><%= user.email %></td>
                <td><%= user.permanent_address %></td>
                <td><%= user.temporary_address %></td>
                <td><%= user.gender %></td>
                <td><%= user.faculties.pluck(:facultyname).join(',') %></td>
                <td><%= user.batches.pluck(:year).join(',') %></td>
                <td><%= user.sections.pluck(:section).join(',') %></td> 
                <td><%= user.role %></td>
                <td><%= link_to 'Show', profile_path(user.id) %></td>
                <td><%= link_to 'Edit', edit_profile_path(user.id) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tbody>
        <% end %>    
    <% end %>  
</table>

<br>
<form>
<button type="submit"><%= link_to 'ADD NEW PROFILE', new_profile_path %></button>
</form>

<p id="hello">hello</p> 
<button id ="studentpreview">first</button>
</div>
</body>
</html>