<h1>Edit Faculty</h1>
<%= form_for @faculty, local: true do |form| %>
  <p>
    <div class="field">
      <%= form.label :facultyname %>
      <%= form.text_field :facultyname%>
    </div>
  </p>
  <p>
    <div class="actions">
      <%= form.submit %>
    </div>
  </p>
<% end %>