<div class="container">
  <h1>FACULTIES DETAILS</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>FACULTY NAME</th>
      <th colspan="3"></th>
    </tr>
    </thead>
      <tbody>
        <% @faculties.each do |faculty| %>
          <tr class="<%= cycle('list1','list2')%>">
            <td><%= link_to faculty.facultyname%></td>
            <td><%= link_to 'Show', faculty_path(faculty.id) %></td>
            <td><%= link_to 'Edit', edit_faculty_path(faculty.id) %></td>
            <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <%= link_to 'ADD NEW FACULTY', new_faculty_path %>
</div>




