<h1>Add New Faculty</h1>
<%= form_with scope: :faculty, url: faculties_path, local: true do |form| %>
  <p>
    <div class="field">
      <%= form.label :facultyname %>
      <%= form.text_field :facultyname%>
    </div>
  </p>
  <p>
    <div class="actions">
      <%= form.submit %>
    </div>
  </p>
<% end %>
