<div class="sign-up-form">
 <h2>Edit Form </h2>
  <%= form_for( @user, html: {  multipart: true }) do |f| %>
    <% if current_user.admin? %>
      <div class="form-group">
        <label for="role">SELECT ROLE FROM LIST:</label>
        <%= f.select(:role, options_for_select([['Admin', 'admin'], ['User', 'user']],'user')) %>
      </div>
    <% end %>

    <div class="field">
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    </div>

    </br></br>

    <fieldset>
      <legend>NAME</legend>
      <div class= "row">
        <div class ="col-lg-4">
          <div class="field">
            <div class="form-group">
              <%= f.label :firstname %><br />
              <%= f.text_field :firstname, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class ="col-lg-4">
          <div class="field">
            <div class="form-group">
              <%= f.label :middlename %><br />
              <%= f.text_field :middlename, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class ="col-lg-4">
          <div class="field">
            <div class="form-group">
              <%= f.label :lastname %><br />
              <%= f.text_field :lastname, class:"form-control" %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>ADDRESS</legend>
      <div class="row">
        <div class ="col-lg-6">
          <div class="field">
            <div class="form-group">
              <%= f.label :permanent_address %><br />
              <%= f.text_field :permanent_address, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class ="col-lg-6">
          <div class="field">
            <div class="form-group">
              <%= f.label :temporary_address %><br />
              <%= f.text_field :temporary_address, class:"form-control" %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Parent`s Detail</legend>
      <div class= "row">
        <div class ="col-lg-6">
          <div class="field">
            <div class="form-group">
              <%= f.label :father_name %><br />
              <%= f.text_field :father_name, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class ="col-lg-6">
          <div class="field">
            <div class="form-group">
              <%= f.label :mother_name %><br />
              <%= f.text_field :Mother_name, class:"form-control" %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    
    <div class= "row">
      <div class ="col-lg-4">
        <div class="field">
          <div class="form-group">
            <%= f.label :SEE_grade %><br />
            <%= f.text_field :SEE_grade, class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    </br></br>
    <div class= "row">   
      <div class ="col-lg-4">
        <div class="field">
          <div class="form-group">
            <%= f.label :student_phone %><br />
            <%= f.text_field :student_phone, class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
      
    <div class= "row">
      <div class ="col-lg-6">
        <h4> GENDER</h4>
        <div class="field">
          <div class="form-group">
            <%= radio_button('user','gender',"Male") %> MALE <br><%= radio_button('user','gender',"Female") %>FEMALE
          </div>
        </div>
      </div>
    </div>

    </br></br>

    <div class= "row">
      <div class ="col-lg-12">
        <div class="field">
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
    </div>
      
    <div class="actions">
      <%= f.submit %>
    </div>
 <% end %>
  </br>
</div>