<h1>Edit Section</h1>
<%= form_for @section, url: sections_path, local: true do |form| %>
  <p>
    <div class="field">
      <%= form.label :section %>
      <%= form.text_field :section%>
    </div>
    </p>

    <p>
    <div class="actions">
      <%= form.submit %>
    </div>
    </p>
<% end %>