<div class="container">
  <h1>SECTIONS DETAILS</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>SECTION NAME</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @sections.each do |section| %>
        <tr class="<%= cycle('list1','list2')%>">
          <td><%= link_to section.section %></td>

          <td><%= link_to 'Show', section_path(section.id) %></td>
          <td><%= link_to 'Edit', edit_section_path(section.id) %></td>
          <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'ADD NEW SECTION', new_section_path %>
</div>