<html>
  <head>
    <title>Sign In</title>
  </head> 
  <body>
    <div class="signin-form">
      <%= field_set_tag 'Please Login' do %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="form-group">
              <%= f.label :email %><br />
              <div class='input-with-icon'>
                <i class='glyphicon glyphicon-envelope'></i>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
           <%= f.submit "Log in", class:"btn btn-primary" %>
          </div>
        <% end %><br>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </body>
</html>
