<h1>Edit Batch</h1>
<%= form_for @batch, local: true do |form| %>
  <p>
    <div class="field">
      <%= form.label :YEAR %>
      <%= form.text_field :year%>
    </div>
    </p>


    <p>
    <div class="actions">
      <%= form.submit %>
    </div>
    </p>
<% end %>