</form>
<h1>FACULTIES DETAILS</h1>

<table>
  <thead>
  <tr>
    <th>FACULTY NAME</th>
    <th>TOTAL NUMBER OF STUDENTS</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>

  <% @faculties.each do |faculty| %>
      <tr class="<%= cycle('list1','list2')%>">
        <td><%= link_to faculty.facultyname, batch_faculty_sections_path(faculty.id) %></td>

        <td><%= link_to 'Show', faculty_path(faculty.id) %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty.id) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'ADD NEW FACULTY', new_faculty_path %>
