<div class="container">
  <h1>BATCH DETAILS</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>BATCH</th>

      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @batches.each do |batch| %>
        <tr class="<%= cycle('list1','list2')%>">
          <td><%=link_to batch.year%></td>

          <td><%= link_to 'Show', batch_path(batch.id) %></td>
          <td><%= link_to 'Edit', edit_batch_path(batch.id) %></td>
          <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'ADD NEW BATCH', new_batch_path %>
</div>
