/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require toastr_rails
 *= require_tree .
 *= require_self
 */
 .form-control{
   float: center;
   border-radius: 30px;
   border-style: outset;
   border-width: thin medium medium;
 }
 
.navbar-inverse {
  margin-left: 5px;
  width: 100%;
  margin-bottom: 0px;
}

.student-loggedin-info {
  /*margin-left: 85%;*/
  /*margin-top: 3px;*/
  width: 100%; 
  background-color: white;
  position: fixed;
  z-index: 3;
}
.student-loggedin-info a{
  cursor: pointer;
  float: right;
  margin: 6px 61px;
}

ul.sign-options {
list-style-type: none;
margin: 5px 88px 0px 9px;
float: right;
}

ul .sign-options li a{
  text-decoration: none;
  display: block;
  height: 23px;
  color: grey;
}
ul.sign-options li a:hover{
  color: white;
}
ul.sign-options li {
  display: inline-block;
  padding: 11px;
}

/*testing for popup*/

/*h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}*/

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  margin-left: -54px;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*visibility: hidden;*/
  opacity: 1;
  display: none;
  z-index: 2;
}
/*.overlay.visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}*/

.popup {
  margin: 60px 0px 0px 843px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  width: 31%;
  position: relative;
  border-style: double;
  border-color: black;
  }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: right;
}


/*for circular image*/
.img-circular{
 width: 121px;
 height: 118px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin: -9px 0px 0px 2px;
 position: fixed;
}

.content h4 {
  line-height: 6px;
  margin: 0px 0px 20px 0px;
}

.signin-form {
  margin: 150px 0px 0px 174px;
  border: 1px solid;
  width: 75%;
  background-color: #f5f0f0;
  border-color: #f5f0f0;
} 

.signin-form fieldset legend{
  display: block;
  width: 49%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 34px;
  border-bottom: none;
}

 .signin-form fieldset {
  padding: 45px 39px 45px 37px;
  border: 2px groove;
  background-color: #f7f6f6;
  border-color: #f7f6f6;
  margin: 26px 204px 34px;
}
 
