.modal-text{
  float: left;
  display: inline-block;
}
.modal-text a {
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
    background-color: gainsboro;
    color: #404040;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
}