th.sort[data-sort_order = 'desc']:after, th.sort[data-sort_order='asc']:after {
  position: absolute;
  bottom: 6px;
  right: 0;
  font-family: "Glyphicons Halflings";
  -webkit-font-smoothing: antialiased;
  vertical-align: -webkit-baseline-middle;
  padding-left: 1%;
}

th.sort[data-sort_order = 'desc']:after{
  content: "\e252";
}

th.sort[data-sort_order='asc']:after {
  content: "\e253";
}

th.sort[data-sort_order = 'desc'], th.sort[data-sort_order='asc'] {
  padding-right: 20px !important;
  position: relative;
}



.table>tbody>tr>td {
 /* width: 50%;*/
}
th.sort {
  cursor: pointer;
}

.position-selectForm {
  margin: 170px 0px 0px 129px;
}

.position-editnewForm {
  margin: 0px 0px 0px 490px;
  width: 25%;
}

.table {
  margin: 16px 0px 2px -27px;
}

.hello {
  position: fixed;
  width: 99.5%;
  z-index: 1;
  background-color: white;
  margin-left: -17px;
  padding-top: 34px;
}

.first, .page, .prev {
  display: inline-block;
  outline: auto;
  padding: 6px 15px 6px 15px;
}

.pagination {
  padding-left: 428px;
  margin: 18px;
  position: fixed;
}
.sign-up-form {
  margin: -35px 60px 0px 60px;
}

.new-profile{
  margin-left: 848px;
  position: fixed;
}
.new-profile a {
  text-decoration: none;
}

/*CSS for SHOW profiles*/
.modal-content {
  width: 75%;
  margin: 127px 178px 127px 178px; 
}

.modal.visible{
  visibility: visible;
}

/*for displaying profile of user*/
table .profile-list {
  display: none;
}

#profileTable {
  display: none;
}
#profileList td span {
  margin: 320px 0px 0px -46px;
  cursor: pointer;
  z-index: 1;
}

#profileList td span.rotate-icon{
  transform: rotate(90deg);
}